:root {
  --dark_green: #21461A;
  --green: #527348;
  --soft_green: #C8D5B9;
  --aqua_green: #67B0AC;
  --soft_yellow: #F9F3DD;
  --soft_orange: #DCA15F;
  --dark_orange: #DCA15F;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* @font-face {
    font-family: 'buffaloregular';
    src: url('fonts/buffalo-regular-webfont.woff2') format('woff2'),
         url('fonts/buffalo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

/*SCROLL*/

::-webkit-scrollbar {
    display: block;
    width: 7px;
    height: 10px;
    background-color: #F9F3DD;
  }

::-webkit-scrollbar-thumb {
    background-color: #52724D;
  }

/*ATF*/

#atf{
    background-attachment: fixed;
    background-image: url('img/atf_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
}

#atf #header{
    display: flex;
    padding: 10px 0px;
    width: 100%;
}

#atf #header #logo{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

#atf #header #logo img{
    width: 180px;
}

#header_cta {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
}

#atf #mobile_cta{
    display: none;
}

#atf .cta{
    background-color: transparent;
    border: 2px solid var(--dark_green);
    color: var(--dark_green);
    display: block;
    font-size: 12px;
    margin-top: 5px;
    /*box-shadow: 0px 18px 35px rgba(0, 0, 0, 0.3);*/
    padding: 18px 22px;
    /* max-width: 200px;
    text-align: center; */
}

#atf #usp{
    color: var(--dark_green);
    font-weight: 100;
    letter-spacing: 5px;
    text-align: center;
    margin: 100px auto 0 auto;
    max-width: 800px;
    position: relative;
    z-index: 90;
}

#atf #usp h1 {
    z-index: 99;
}

#atf #bienestar{
    margin: 0 auto;
}

#atf #bienestar h2{
    color: var(--soft_yellow);
    font-size: 200px;
    letter-spacing: 40px;
    margin-top: -400px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 99;
}

#atf #bienestar h3{
    -webkit-text-stroke: 1px var(--soft_yellow);
    color: transparent;
    font-size: 300px;
    letter-spacing: 40px;
    margin-top: 70px;
    opacity: calc(0.15);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
}

#atf #arbol{
    position: absolute;
    bottom: -04px;
    left: 0px;
}

/*how to put an image in front of another element?  */

/*BIENVENIDO*/

#bienvenido{
    display: flex;
    width: 100%;
}

#bienvenido #bienvenido_1{
    flex-basis: 35%;
    padding-bottom: 100px;
}

/* #bienvenido #bienvenido_1 #bienvenido_hojas{
    display: block;
    margin-top: 30px;
    position: absolute;
} */

#bienvenido #bienvenido_1 #drgea{
    display: block;
    margin: 100px 0px 30px 100px;
    display: flex;
    flex-direction: column;
}

#bienvenido #bienvenido_1 #drgea img {
    width: 14vw;
}

#bienvenido #bienvenido_1 #drgea span{
    color: var(--dark_green);
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

#bienvenido #bienvenido_1 #drgea h2{
    color: var(--aqua_green);
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
}

#bienvenido #bienvenido_1 #bienvenido_content{
    margin: 0px 100px 0px 100px;
}

#bienvenido #bienvenido_1 #bienvenido_content p{
    color: var(--dark_green);
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 20px;
}

#bienvenido #bienvenido_1 #bienvenido_cta{
    margin-left: 100px;
    margin-top: 100px;
}

#bienvenido #bienvenido_1 #bienvenido_cta .cta{
    /* box-shadow: 10px 15px 20px 5px rgba(0,0,0,0.3); */
}

#bienvenido #bienvenido_2{
    align-content: flex-end;
    border: solid #e2e2e2 15px;
    display: flex;
    background-image: url('img/bienvenido_2_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-basis: 65%;
}

#bienvenido #bienvenido_2 #bienvenido_planta{
    display: flex;
}

#bienvenido #bienvenido_2 #bienvenido_planta img{
    align-self: flex-end;
    margin: 0 0 0 -230px;
}

/*Form*/
#formulario{
    background-attachment: fixed;
    background-position: center;
    background-image: url('img/form_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 150px;
    position: relative;
}
/* 
#formulario #form_arbol_1{
    position: absolute;
    right: 0px;
    top: -60px;
}

#formulario #form_arbol_1 img{
    position: absolute;
    right: 0;
} */

#formulario #form #form_content h2{
    color: var(--soft_orange);
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}

#formulario #form #form_content p{
    color: var(--soft_orange);
    font-size: 20px;
    margin-top:20px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

#formulario #form{
    display: block;
    margin-top: 200px;
    z-index: 99;
}

#formulario #form #form_main form{
    display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;
    max-width: 400px;
}

#formulario #form #form_main form #dropdown {
    background-color: #ffffff00;
    height: 40px;
    color: var(--soft_orange);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 20px;
    border: 0px;
    border-bottom: var(--soft_orange) solid 1px;
    padding-left: 04px;
}

#formulario #form #form_main form #dropdown:focus {
    outline: none;
}

#formulario #form #form_main form input[type=text]{
    background-color: transparent;
    border: none;
    border-bottom: var(--soft_orange) solid 1px;
    color: var(--soft_orange);
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-bottom: 20px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 10px;
}

#formulario #form #form_main form input::placeholder{
    border: none;
    color: var(--soft_orange);
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

#formulario #form #form_main form input[type=text]:focus{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    outline: none;
    padding-left: 10px;
}

#formulario #form #form_main form input[type=text]:active{
    border: none;
}

#formulario #form #form_main form input[type=submit]{
    background-color: var(--green);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    /* font-weight: bold; */
    letter-spacing: 2px;
    margin: 40px auto 0 auto;
    /* max-width: 200px; */
    padding: 20px 60px;
    text-transform: uppercase;
}

#formulario #form_arbol_2{
    display: flex;
    flex-direction: row;
    margin-top: -400px;
    text-align: left;
}

/*Historia*/

#historia{
    background-image: url('img/historia_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 100px 50px;
}

#historia #historia_1{
    flex-basis: 30%;
    display: flex;
}

#historia #historia_1 #historia_empezo{
    align-self: center;
    width: 100%;
}

#historia #historia_1 #historia_empezo .historia_line{
    border-bottom: solid 2px var(--dark_green);
    display: block;
    margin-bottom: 30px;
    width: 100%;
}

#historia #historia_1 #historia_empezo #historia_1_text{
    color:var(--dark_green);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

#historia #historia_2{
    flex-basis: 70%;
    padding-left: 20px;
}

#historia #historia_2 #historia_titulo{
    color: var(--dark_green);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#historia #historia_2 #historia_titulo span{
    color: var(--dark_green);
    font-size: 40px;
    font-weight: 100;
    line-height: 40px;
    text-transform: uppercase;
}

#historia #historia_2 #historia_content{
    color: var(--dark_green);
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 10%;
    text-transform: uppercase;
}

/*Footer*/

footer{
    background-color: var(--dark_green);
    color: var(--dark_orange);
    text-align: center;
    padding: 40px 0;
}

/*General Clases*/

.cta{
    background-color: var(--dark_green);
    color: var(--soft_yellow);
    font-size: 13px;
    /* font-weight: bold; */
    padding: 20px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

/*Responsive para Notebook*/

@media only screen and (max-width: 1500px) {
    #arbol img {
        width: 340px;
    }
    #atf #bienestar h2 {
        font-size: 140px;
        letter-spacing: 25px;
        margin-top: -270px;
    }
    #atf #bienestar h3 {
        margin-top: 40px;
        font-size: 190px;
    }
    #atf #usp {
        margin: 80px auto 0px auto;
    }
    #atf #usp h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
        padding-bottom: 40px;
    }
    #atf #header #logo img {
        width: 160px;
    }
    .cta{
        font-size: 14px;
        letter-spacing: 2px;
        padding: 20px 25px;
    }
    #formulario #form {
        margin-top: 80px;
    }
    /* #formulario #form_arbol_1 img {
        width: 420px;
    }
    #formulario #form_arbol_2 img {
        width: 350px;
    } */
}

/*Responsive para Tablet*/

@media only screen and (max-width: 1000px) {
    #atf #header #logo img {
        width: 200px;
    }
    #atf {
        background-position: center;
    }
    #atf #bienestar h2 {
        font-size: 80px;
        letter-spacing: 15px;
        margin-top: -230px;
    }
    #atf #bienestar h3 {
        margin-top: 80px;
        font-size: 120px;
        letter-spacing: 20px;
    }
    #atf #usp h1 {
        font-size: 40px;
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        letter-spacing: 4px;
    }
    #header_cta {
        /* bottom: 30%; */
        top: auto;
        right: 15px;
        display: flex;
        justify-content: center;
        z-index: 99;
    }
    .cta{
        font-size: 16px;
        letter-spacing: 2px;
        padding: 25px 25px;
    }
    #bienvenido {
        flex-direction: column;
    }
    #bienvenido #bienvenido_1 #drgea{
        display: block;
        margin: 70px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #bienvenido #bienvenido_1 #drgea span {
        font-size: 20px;
    }
    #bienvenido #bienvenido_1 #drgea img {
        width: 200px;
        margin: auto;
    }
    #bienvenido #bienvenido_1 #bienvenido_content p {
        text-align: center;
        margin:0 auto;
        max-width: 500px;
    }
    #bienvenido #bienvenido_1 #bienvenido_cta {
        margin-left: 0px;
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }
    #bienvenido #bienvenido_2 {
        min-height: 80vh;
        position: relative;
    }
    #bienvenido #bienvenido_2 #bienvenido_planta {
        display: block;
    }
    #bienvenido #bienvenido_2 #bienvenido_planta img {
        width: 75vw;
        position: absolute;
        bottom: 80vh;
        left: -100px;
        margin: auto;
    }
    #formulario {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 110vh;
        padding-top: 50px;
        position: relative;
    }
    #formulario #form {
        margin-top: 50px;
    }
    #formulario #form_arbol_2 {
        position: absolute;
        bottom: -100px;
        left: 0px;
    }
    #historia {
        flex-direction: column;
        background-position: center;
    }
    #historia #historia_2 {
        margin-top: 40px;
        padding: 0px;
    }
    #historia #historia_2 #historia_content {
        margin: 0px;
    }
}

/*Responsive para Mobile*/

@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio:0){
    #atf {
        padding-top: 100px;
    }
    #atf #header #logo img {
        width: 200px;
    }

    #atf #header #header_cta{
        display: none;
    }

    #atf #mobile_cta{
        display: block;
        margin:70px auto 0 auto;
        max-width: 270px;
        position: relative;
        z-index: 100;
    }

    #atf #mobile_cta .cta{
        background-color: var(--dark_green);
        color: var(--soft_yellow);
        font-size: 15px;
    }

    #atf #bienestar {
        z-index: 99;
        position: relative;
    }
    #atf #bienestar h2 {
        font-size: 50px;
        letter-spacing: 5px;
        margin-top: -100px;
        z-index: 100;
    }
    #atf #bienestar h3 {
        margin-top: 50px;
        font-size: 60px;
        letter-spacing: 10px;
        z-index: -20;
    }
    #atf #arbol {
        display: none;
        z-index: 50;
    }
    #atf #arbol img {
        width: auto;
        height: 60vh;
    }
    #atf #flecha img {
        width: 15px;
    }
    #atf #usp {
        margin-top: 10px;
    }
    #atf #usp h1 {
        font-size: 22px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        letter-spacing: 2px;
    }
    #bienvenido #bienvenido_1 #bienvenido_content {
        margin: 0px 0px 0px 0px;
        padding: 0px 40px;
    }
    #formulario{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #formulario #form #form_content h2{
        font-size: 35px;
        margin-bottom: 20px;
    }
    #formulario #form #form_content p{
        font-size: 20px;
        margin: 0 15px 10px 15px;
    }

    #formulario #form #form_main{
        max-width: 300px;
    }

    #formulario #form #form_main form input[type=submit] {
        font-size: 15px;
        padding: 18px 35px;
    }
    #formulario #form_arbol_2 {
        position: absolute;
        bottom: -200px;
        left: 0px;
    }
    #formulario #form_arbol_2 img {
        width: auto;
        height: 50vh;
    }
    #form_main {
        padding: 0px 40px;
    }
    #historia {
        background-position: center;
    }
    #historia #historia_2 #historia_titulo h2 {
        font-size: 50px;
    }
    .cta{
        font-size: 16px;
        letter-spacing: 2px;
        padding: 25px 50px;
    }
    footer {
        font-size: 13px;
    }
}


@media only screen and (max-width: 395px) and (-webkit-min-device-pixel-ratio:0){
    #atf{
        background-image: url(img/atf_bg_mobile.jpg);
        background-size: cover;
        background-attachment: scroll;
    }
    #atf .cta{
        font-size: 12px;
        text-align: center;
        padding: 20px 10px;
    }

    #formulario{
        background-attachment: scroll;
    }
}

/* @media not all and (min-resolution:.001dpcm){ 
    @supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {
        #atf{
            background-image: url('img/atf_bg.jpg');
            background-position: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right bottom;
        }
    }} */